*{box-sizing: border-box;}
body{
    background-color: #EDF5E1;
}
h1{
    padding:5px;
    color: #EDF5E1;
    font-size: larger;
}
main{
    background-color: #05386B;
    border: 2px solid black;
    margin: auto;
    width: 60%;
}
img{
    width: 100%;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
div{
    border:1px solid black;
    padding:5px;
    border-radius: 5px;
}
main #also{
    padding: 10px;
    border-top: 5px solid black;
}
main #felso{
    margin:10px
}